.container {
    padding-left: 7%;
    padding-right: 7% ;
}

/* color red #e11727 */
/* color black #333 */
/* small text color #999 */
/* grey color #eee */

/* Pre-header CSS */
.pre-header {
    background-color: #e11727;
    color: #fff;
    padding: 1%;
    border-bottom: 2px solid #333;
}
.pre-header .left {
    font-size: 1.125rem;
    font-weight: 500;
}
.pre-header .right {
    font-size: .875rem;
    font-weight: 500;
}




/* Header Banner CSS */
header {
    background-image: url(../images/14.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* navbar */
.navbar {
    background-color: rgba(255, 0, 0, 0);
    padding-top: 60px;
}
#navbarNav {
    background-color: #333;
    position: relative;
}
.navbar-nav {
    justify-content: space-between;
}
.nav-link {
    color: #fff;
    font-weight: 700;
    font-size: 1.275rem;
    padding: 10px;
}
.call-us {
    background-color: #e11727;
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 1%;
    position: absolute;
    right: 0;
    margin-top: -44px;
}
.call-us span {
    font-size: 1.125rem;
}



/* banner */
.big-heading {
    font-weight: 700;
    color: #fff;
}
.big-heading span {
    color: #e11727;
}
.banner {
    text-align: center;
    line-height: 4;
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner-text {
    font-size: 1.1.25rem;
    font-weight: 700;
    color: #fff;
}
.banner-text span {
    color: #e11727;
}
.shop-button {
    font-size: .875rem;
    font-weight: 700;
    background-color: #e11727;
    border-radius: 0;
    padding: 1%;
}



/* Content BODY TYPE CSS */
.body-type {
    text-align: center;
    padding-top: 20px;
}
.medium-heading {
    background-color: #eee;
    padding: 1%;
    border-bottom: 2px solid #e11727;
}
.card {
    border: none;
}



/* Cntent Featured car CSS */
.feature {
    text-align: center;
}
.feature .card {
    margin: 5px 10px;
}
.feature .card-title {
    text-align: left;
}
.feature .card-text {
    text-align: right;
    background-color: #e11727;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1%;
    position: absolute;
    right: 0;
    margin-top: -30px;
}
.feature .medium-heading {
    position: relative;
}
.owl-nav {
    display: none;
}

/* Our Location Service */
.our-location {
    text-align: center;
}


/*
width: 60%; Special CSS */
.special {
    margin-top: 20px;
    position: relative;
}

.special .container {
    background-image: url(../images/slide_5.png);
    background-color: #151515;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 110%;
    color: #fff;
    padding: 2%;
    position: relative;
}

.special hr {
    color: #e11727;
    font-size: 0;
    border-bottom: 3px solid #e11727;
    width: 60%;
}

.special .btn {
    background-color: #e11727;
    border-radius: 0;
    position: absolute;
    right: 0;
    margin-right: 48px;
    margin-top: -42px;
}

@media only screen and (max-width: 769px) {
    .pre-header {
        display: none;
    }

    .navbar-brand img{
        width: 200px;
    }

    .special .btn {
        background-color: #e11727;
        border-radius: 0;
        position: absolute;
        right: 0;
        margin-right: 24px;
        margin-top: -42px;
    }

    .navbar-nav {
        text-align: center;
    }

    .call-us {
        display: none;
    }
  }